@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        @apply m-0 p-0 font-sans antialiased text-slate-100 bg-background-darker;
        scroll-behavior: smooth;
    }
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-background-dark;
}

::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full border border-slate-700;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-700;
}